# creates the docker compose

# build individual services 
# build individual services
services:
  # setup discord bot container
  discord:
    build: .
    container_name: discord
    restart: always
    environment:
      CLIENT_TOKEN: ${DISCORD_TOKEN}
      OLLAMA_IP: ollama
      OLLAMA_PORT: 11434
      MODEL: llama3.2
    depends_on:
      - ollama
    networks:
      ollama-net:
        ipv4_address: ${DISCORD_IP}
    volumes:
      - discord:/src/app

  # setup ollama container
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    networks:
      ollama-net:
        ipv4_address: ${OLLAMA_IP}
    runtime: nvidia # use Nvidia Container Toolkit for GPU support
    devices:
      - /dev/nvidia0
    volumes:
      - ollama:/root/.ollama
    ports:
      - ${OLLAMA_PORT}:${OLLAMA_PORT}

# create a network that supports giving addresses withing a specific subnet
networks:
  ollama-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET_ADDRESS}/16

volumes:
  ollama:
  discord:
